/* add webkit value later */

.btn-secondary {
    background-color: #8a4cdb;
    border-radius: 0;
}

.top-content {
    /* margin-top: 174px; */
    margin-bottom: 65px;
}

.navbar {
    padding: 2.68rem 1rem;

}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;

}

.login-btn {
    margin-left: 22px;
    width: 86px;
    height: 27px;
    align-self: center;
    line-height: 6px;
}

.nav-link {

    margin-left: 15px;
}

.fa-play-circle .fa-5x {

    font-size: 4.5em;

}

.play-icon {
    padding-bottom: 32px;
    padding-top: 18px;

}

.banner-area {
    background-color: #8a4cdb;
    color: #fff;
    padding-top: 73px;
    padding-bottom: 83px;
    position: relative;

}

.banner-text .btn-secondary.signup {
    width: 152px;
    height: 37px;
    margin-left: 15px;

}

.banner-text input[type="text"] {
    padding: 6px;
    margin-top: 39px;
}


.tab {

    background-image: url(../images/tab-layout.png);
    padding-top: 52.5px;
    padding-bottom: 162.5px;
    padding-right: 53px;
    padding-left: 44px;
    background-repeat: no-repeat;
    background-position:41%;
    background-size: cover;
    position: absolute;
    top: 5%;

}

.tab img{
    display: block;
}

.order-single img {
    margin-bottom: 41px;
}

.show-all-features {
    margin-top: 44px;
}

.show-all-features a{

        background-color: #8a4cdb;
        color: #fff;
        text-decoration: none;
        padding: 8.5px 59px;
}

.fas.fa-angle-right {
    vertical-align: middle;
    margin-left: 9px;
}

.order-area {

    padding-top: 174px;
    padding-bottom: 123px;

}

.intuitive-design {
    /* left: 11%; */
    top: 4%;
    left: 16%;
}

.dashboard-area {

        padding-top: 75px;
        padding-bottom: 174px;
        background: #fbfbfb;

}

.laptop-area {
    position: relative;
}
/* .laptop-top {
    display: flex;
} */



img.laptop {
    position: relative;
    padding-top: 94px;
}

.customization-options {
    right: 0%;
    top: 4%;
}

.inventory-management {
    left: 5%;
    bottom: 17%;
}

.advanced-analytics {
    right: 1%;
    bottom: -22%;
}

.easy-accouning {
    left: 30%;
    bottom: -22%;
}

.dashboard-features {
    display: flex;
    align-items: baseline;
    position: absolute;
}
.inventory-management {
    left: 5%;
    bottom: 17%;
}

.features-details {
    text-align: left;
    width: 51%;
}
.dashboard-features img {
    padding-right: 8px;
    transform: translateY(14%);
}

.customer-review-area {
    padding-bottom: 72px;
    padding-top: 74px;
}

.wrapper{
    display: flex;
}

.message {
    padding: 69px 9px;
    border: 2px solid #e4e4e4;
    padding-top: 29px;
    padding-left: 57px;
    padding-right: 57px;
    padding-bottom: 17px;
    width: 72%;
    border-radius: 18px;
    position: relative;
    margin: auto;
}

blockquote{
    position: relative;
}

blockquote::after{
    position: absolute;
    content: "";
    width: 27px;
    height: 25px;
    background: #fff;
    border-left: 2px solid #e4e4e4;
    bottom: -24.5%;
    left: 41%;
    border-bottom: 2px solid #e4e4e4;
    transform: skewX(26deg),rotate(45deg);
    transform: rotate(-32deg) skew(27deg);
    border-bottom-left-radius: 1px;
}

.message::before {
    content: "";
    display: block;
    height: 19px;
    width: 23px;
    background-image: url(../images/open-quote.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /* opacity: .2; */
    /* margin-bottom: 1.5rem; */
    position: absolute;
    top: 10%;
    left: 12%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.message::after {
    content: "";
    display: block;
    height: 19px;
    width: 23px;
    background-image: url(../images/close-quote.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    right: 6%;
    -webkit-transform: translateX(-6%);
    -ms-transform: translateX(-6%);
    transform: translateX(-6%);

}
.profile-picture {
    width: 60%;
    height: 206px;
    background: #7344b0;
    border-radius: 100%;
    border: 5px solid #ffff;
    box-shadow: 0 0 2px 3px #ededed;
    margin: auto;
    transform: translateX(-7%);
}

.customer-detail {

    margin-top: 42px;
    transform: translateX(6%);

}

.customer-info {

    display: inline-block;
    text-align: center;
    transform: translateX(98%);
    margin-top: 22px;
    line-height: 12px;

}

footer ul{
    padding:0px;
    list-style-type: none;
}


footer ul li a {
    text-decoration: none !important;
    color: #c6c6c6;
}

footer {
    color: #fff;
    background: #222;
}
.footer-top {
    padding-top: 48px;
    padding-bottom: 48px;
}

footer ul li {
    line-height: 30px;
}

footer .column-header {
    margin-bottom: 19px;
}

.social-area .column-header{
    margin-top:40px;
}

.social-area i {
    width: 25px;
    height: 25px;
    background: #7344b0;
    padding: 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: normal;
    margin-right: 7px;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;

}

.footer-bottom {
    background: #7344b0;
    padding: 12px;
}

.footer-bottom p {
    margin-bottom: 0px;
}

